<div class='text-center homePage col-md-12'>
  <h1>NUTRILICIOUS</h1>
  <h3> Now you can choose recipes based on nutrition content</h3>
  <h4>Pick what you want to eat</h4>
  <!-- <a ng-href="#/recipes/nutrition/highFat">
    <button type="text">High Fat</button>
  </a>
  <a ng-href="#/recipes/nutrition/highProtein">
    <button type="text">High Protein</button>
  </a> -->
  <div class="btn-group">
  <button class="btn btn-primary btn-lg"  >
    <select ng-model = "selectNutritionCtrl.selectedNutritionPick"  ng-change="selectNutritionCtrl.selectedNutrition(selectNutritionCtrl.selectedNutritionPick)" >
              <option value="">Pick your nutrition</option>
              <option value="highFat">High Fat</option>
              <option value="highProtein">High Protein</option>
              <option value="highCarbohydrates">High Carbohydrates</option>
              <option value="lowFat">Low Fat</option>
              <option value="lowCarbohydrates">Low Carbohydrates</option>
    </select>
    </button>
  </div>
  <div class="recipeList">
    <div ng-repeat="recipe in selectNutritionCtrl.recipes">
        <div ng-if="recipe.totalCalories!==NaN">
          <a ng-href="#/recipes/{{recipe._id}}">{{recipe.title}}</a>
          <p>Total calories: {{recipe.totalCalories/recipe.serving || recipe.totalCalories/4}} calories per serving</p>
          <!-- <p>Percentage total Calories:{{ (recipe.totalCalories / recipesCtrl.dailyCalcs || recipe.totalCalories/2000)*100}}</p >-->

        <!-- <a href="#/recipes/{{recipe._id}}">View recipe</a> -->
      </div>
  </div>
</div>
